= slide 'Днес' do
  list:
    Административни неща
    Демонстрация с Ruby on Rails

= slide 'Ново предизвикателство' do
  list:
    [Публикувано е](/challenges/4)
    Упражнение на проста бинарна аритметика
    Срокът на предишното изтече, може да видите [решенията](/challenges/3)
    Следете за пета задача, ще се появи в рамките на ден-два

= slide 'Важни дати' do
  p Можете ли да потвърдите следните дати:
  list:
    Зимна ваканция: <strong>24.12.2012 - 04.01.2013</strong>
    Сесия: <strong>28.01.2013 - 22.02.2013</strong>
    Две дати за изпита по Ruby (ще опитаме да запазим 10.02.2013 и 23.02.2013)
    Сбирка в RockIt следващата сряда (19.12.2012)

= slide 'Демонстрация с Rails' do
  list:
    Ще направим едно малко Rails приложение
    Можете да намерите [кода му в GitHub](https://github.com/mitio/quizzes-2012)
    Може да видите и [списък с промени](https://github.com/mitio/quizzes-2012/compare/82b06348b...part-1), в последователността, в която ги направихме
    Някои от commit-съобщенията имат детайлно обяснение, цъкнете на "..." в GitHub, за да го видите
