= slide 'Днес' do
  list:
    Последна лекция на тема Ruby on Rails

= slide 'Пето предизвикателство' do
  list:
    [Публикувано е](/challenges/5)
    Срокът е до този петък

= slide 'Петa задача' do
  list:
    [Публикувана е!](/tasks/5)
    Най-накрая...
    Следвайте инструкциите в условието

= slide 'Предпразнична сбирка' do
  list:
    Сряда, 19.12.2012 г.
    Бирария "Халбите 2", на бул. Прага
    19:30 ч., резервацията е на името на Димитър Димитров

= slide 'Демонстрация с Rails' do
  list:
    Продължаваме с надграждане на Rails приложението, започнато предния път
    Можете да намерите [кода му в GitHub](https://github.com/mitio/quizzes-2012)
    [Списъкът с промените](https://github.com/mitio/quizzes-2012/compare/part-1...part-2), в последователността, в която ги направихме
