= slide 'Днес' do
  list:
    Демонстрация с Ruby on Rails

= slide 'Следващите сбирки' do
  list:
    Идния понеделник, 11-ти януари, ще говорим за конкурентно програмиране
    Сряда, 13 януари – обектно-ориентиран дизайн

= slide 'Осма задача', 'напомняне' do
  list:
    Припомняме, че [осма задача е публикувана](/tasks/8)
    Срокът е до идния понеделник

= slide 'Демонстрация с Rails' do
  list:
    Ще направим едно малко Rails приложение за анкети

= slide 'Демонстрация с Rails', 'линкове' do
  list:
    Можете да намерите [кода му в GitHub](https://github.com/mitio/quizzes-2015)
    Може да видите и [списък с промени](https://github.com/mitio/quizzes-2015/compare/8cb8b8c88...HEAD), в последователността, в която ги направихме
    Някои от commit-съобщенията имат детайлно обяснение, цъкнете на "..." в GitHub, за да го видите
